---
import { Image, getImage } from "astro:assets";
import grass from "../images/GRASS.png";
import clouds from "../images/CLOUDS.png";

const grassTile = await getImage({ src: grass, format: "avif" });
const cloudsTile = await getImage({ src: clouds, format: "avif" });
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <div class="sky1">
            <div
                class="bg-gradient-to-t h-[74.5vh] from-rose-400 to-violet-900"
            >
            </div>
        </div>
        <div class="sky2">
            <div
                class="h-[2vh] bg-gradient-to-t from-violet-500 from-30% to-rose-300 to-40%"
            >
            </div>
        </div>
        <div class="sky3">
            <div class="h-[6vh] bg-violet-600"></div>
        </div>
        <div class="flex">
            <div
                style=`background-image: url(${cloudsTile.src})`
                class="absolute h-[384px] w-full -my-[475px] animate-move-right2"
            >
            </div>
        </div>
        <div class="flex">
            <div
                style=`background-image: url(${grassTile.src})`
                class="absolute h-[192px] w-full bg-repeat-x -my-24 animate-move-right"
            >
            </div>
        </div>
        <div class="sky4">
            <div
                class="h-[17.5vh] bg-gradient-to-t from-gray-950 from-0% to-amber-950 to-95%"
            >
            </div>
        </div>
        <style></style>
    </body>
</html>
