---

---

<script>
    const night = document.querySelectorAll<HTMLElement>(".night");
    const day = document.querySelectorAll<HTMLElement>(".day");
    const sunset = document.querySelectorAll<HTMLElement>(".sunset");

    const animate = () => {
        return new Promise((resolve) => {
            night.forEach((night) => {
                night.animate([{ opacity: 1 }, { opacity: 0 }], {
                    duration: 5000,
                    fill: "forwards",
                    easing: "linear",
                }).onfinish = () => {
                    day.forEach((day) => {
                        day.animate([{ opacity: 1 }, { opacity: 0 }], {
                            duration: 5000,
                            fill: "forwards",
                            easing: "linear",
                        }).onfinish = () => {
                            sunset.forEach((sunset) => {
                                sunset.animate(
                                    [{ opacity: 1 }, { opacity: 0 }],
                                    {
                                        duration: 5000,
                                        fill: "forwards",
                                        easing: "linear",
                                    },
                                ).onfinish = resolve;
                            });
                        };
                    });
                };
            });
        });
    };

    const resetAnimate = () => {
        return new Promise((resolve) => {
            night.forEach((night) => {
                night.animate([{ opacity: 0 }, { opacity: 1 }], {
                    duration: 0,
                    fill: "forwards",
                    easing: "linear",
                }).onfinish = () => {
                    day.forEach((day) => {
                        day.animate([{ opacity: 0 }, { opacity: 1 }], {
                            duration: 0,
                            fill: "forwards",
                            easing: "linear",
                        }).onfinish = () => {
                            sunset.forEach((sunset) => {
                                sunset.animate(
                                    [{ opacity: 0 }, { opacity: 1 }],
                                    {
                                        duration: 0,
                                        fill: "forwards",
                                        easing: "linear",
                                    },
                                ).onfinish = resolve;
                            });
                        };
                    });
                };
            });
        });
    };

    const playAnimations = async () => {
        while (true) {
            await animate();
            await resetAnimate();
        }
    };

    if (night.length && day.length && sunset.length) {
        playAnimations();
    }
</script>

<section class="container1 absolute h-[100vh] w-[100vw] mx-auto">
    <!-- sky section -->
    <div
        class="sky-night-base absolute bg-gradient-to-t h-[74.5vh] w-screen from-[#0e367b] to-[#030221]"
    >
    </div>
    <div
        class="sunset sky absolute bg-gradient-to-t h-[74.5vh] w-screen from-rose-400 to-violet-900"
    >
    </div>
    <div
        class="day sky absolute bg-gradient-to-t h-[74.5vh] w-screen from-[#b0eaf8] to-[#6fdaff]"
    >
    </div>
    <div
        class="night sky absolute bg-gradient-to-t h-[74.5vh] w-screen from-[#0e367b] to-[#030221]"
    >
    </div>
    <!-- horizon section -->
    <div
        class="horizon-night-base absolute h-[2vh] top-[74.5%] w-screen bg-gradient-to-t from-[#222b70] from-30% to-[#0f205d] to-40% z-40"
    >
    </div>
    <div
        class="sunset horizon absolute h-[2vh] top-[74.5%] w-screen bg-gradient-to-t from-violet-500 from-30% to-rose-300 to-40% z-40"
    >
    </div>
    <div
        class="day horizon absolute h-[2vh] top-[74.5%] w-screen bg-gradient-to-t from-[#a4f2ec] from-30% to-[#faf4f0] to-40% z-40"
    >
    </div>
    <div
        class="night horizon absolute h-[2vh] top-[74.5%] w-screen bg-gradient-to-t from-[#222b70] from-30% to-[#0f205d] to-40% z-40"
    >
    </div>
    <!-- ocean section -->
    <div
        class="ocean-night-base overflow-hidden absolute h-[6vh] w-screen top-[76.5%] bg-[#0d1944] z-30"
    >
    </div>
    <div
        class="sunset ocean overflow-hidden absolute h-[6vh] w-screen top-[76.5%] bg-violet-600 z-30"
    >
    </div>
    <div
        class="day ocean overflow-hidden absolute h-[6vh] w-screen top-[76.5%] bg-[#62a2f7] z-30"
    >
    </div>
    <div
        class="night ocean overflow-hidden absolute h-[6vh] w-screen top-[76.5%] bg-[#0d1944] z-30"
    >
    </div>
    <!-- ground section -->
    <div
        class="ground-night-base absolute h-[17.5vh] w-screen top-[82.5%] bg-[#1a1916] z-40"
    >
    </div>
    <div
        class="sunset ground absolute h-[17.5vh] w-screen top-[82.5%] bg-gradient-to-t from-gray-950 from-0% to-amber-950 to-95% z-40"
    >
    </div>
    <div
        class="day ground absolute h-[17.5vh] w-screen top-[82.5%] bg-[#b8c07d] z-40"
    >
    </div>
    <div
        class="night ground absolute h-[17.5vh] w-screen top-[82.5%] bg-[#1a1916] z-40"
    >
    </div>
</section>
