---
const currentYear = new Date().getFullYear();
---

<footer
    class="w-screen fixed bottom-0 text-white font-medium text-xl bg-zinc-900 z-50"
>
    <div class="flex h-20 justify-between items-center px-10">
        <p>
            Designed & Developed by Jimbob with <a href="https://astro.build/"
                >Astro</a
            >
        </p>
        <p class="socials">
            <a href="https://twitter.com/me"> Twitter</a>
            <a href="https://github.com/me"> GitHub</a>
            <a href="https://codepen.io/me"> CodePen</a>
        </p>
        <p>&copy; {currentYear} James Young</p>
    </div>
</footer>
