---
const currentYear = new Date().getFullYear();
---

<footer class="fixed bottom-0 w-screen text-white z-50">
    <div class="h-20 flex justify-between items-center px-4">
        <p>
            Designed & Developed by Jimbob with <a href="https://astro.build/"
                >Astro</a
            >
        </p>
        <p class="socials">
            <a href="https://twitter.com/me"> Twitter</a>
            <a href="https://github.com/me"> GitHub</a>
            <a href="https://codepen.io/me"> CodePen</a>
        </p>
        <p>&copy; {currentYear} James Young</p>
    </div>
</footer>
