---

---

<script>
    const btn = document.querySelector(".hamburger");
    const navLinks = document.querySelector(".nav-links");
    btn?.addEventListener("click", () => {
        navLinks?.classList.toggle("hidden");
        console.log("hamburger clicked");
    });
</script>

<div class="mr-12 flex">
    <button
        class="hamburger bg-gray-800 p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
    >
        <span class="sr-only">Menu</span>
        <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>
</div>

<div class="nav-links absolute hidden top-[47%] w-screen my-7">
    <ul
        class="font-medium flex flex-col items-center justify-center p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
    >
        <li>
            <a href="/" class="text-xl text-white">Home</a>
        </li>
        <li>
            <a href="/about/" class="text-xl text-white">About</a>
        </li>
        <li>
            <a href="/blog/" class="text-xl text-white">Work</a>
        </li>
    </ul>
</div>
