---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <nav
        class="fixed h-[10%] w-screen flex justify-between items-center bg-zinc-900 z-50"
    >
        <Navigation />
        <Hamburger />
    </nav>
</header>
