---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
    <div class="ml-12 z-50">
        <a href="/" class="site-title font-medium text-xl text-white">
            James Young
        </a>
    </div>

    <div
        class="absolute w-screen hidden top-0 h-20 md:flex md:justify-center md:items-center"
    >
        <ul class="font-medium flex justify-center items-center gap-5">
            <li>
                <a href="/" class="text-xl text-white">Home</a>
            </li>
            <li>
                <a href="/about/" class="text-xl text-white">About</a>
            </li>
            <li>
                <a href="/work/" class="text-xl text-white">Work</a>
            </li>
        </ul>
    </div>
</nav>

<ThemeToggle />

<style></style>

<script></script>
