---
const textLinks: { label: string; href: string }[] = [
    { label: "Home", href: "/" },
    { label: "Content", href: "/content/" },
    { label: "About", href: "/about/" },
];
---

<nav>
    <div class="menu-header absolute bg-transparent z-50">
        <a href="/" class="site-title text-xl text-white"> James Young</a>
    </div>
</nav>
