---

---

<button class="font-medium text-white text-xl mr-12 hidden md:block z-50">
    <span class="sr-only">Dark theme</span>
    <span class="icon light">Sun</span>
    <span class="icon dark">Moon</span>
</button>
