---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";

const { title = "main page" } = Astro.props;
---

<html lang="en">
    <MainHead {title} />
    <body class="overflow-hidden bg-zinc-900">
        <Header />
        <slot />
        <script>
            document
                .querySelector(".hamburger")
                .addEventListener("click", () => {
                    document
                        .querySelector(".nav-links")
                        .classList.toggle("expanded");
                });
        </script>
    </body>
</html>
